<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to BABADU - C9</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center">REGISTER</h1>
    <form class="w-100">
        <div class="d-flex justify-content-center gap-4">
      <button type="submit" class="btn btn-primary">ATLET</button>
      <button type="submit" class="btn btn-primary">UMPIRE</button>
      <button type="submit" class="btn btn-primary">PELATIH</button>
    </div>
    </form>
   
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
</body>
</html>
