<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Daftar Event</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-pV0zLaFrKtW4ehpAQnF/hP6xHpvwfcg0FpH16Dnw/MjJXxUKQZ+PG8OdEThl1+s3FDB0uR+BhJtl0/f9rN1Q0Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    /* Add custom CSS styles here */
    body {
      background-color: #f8f9fa;
    }
    h1 {
      color: #007bff;
      text-align: center;
      margin-top: 50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Daftar Event</h1>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-primary">
        <tr>
          <th>Nama Event</th>
          <th>Total Prize</th>
          <th>Start Date</th>
          <th>Category</th>
          <th>Capacity</th>
          <th>Option</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>EventA</td>
          <td>Rp5.000.000</td>
          <td>12-04-2023</td>
          <td>S200</td>
          <td>3/8</td>
          <td> <button class="btn btn-primary btn-block">Pilih</button> </td>
        </tr>
        <tr>
          <td>EventB</td>
          <td>Rp4.000.000</td>
          <td>27-07-2023</td>
          <td>S100</td>
          <td>8/8</td>
          <td> <button class="btn btn-primary btn-block">Pilih</button> </td>
          </tr>
      </tbody>
    </table>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha512-VKgmTNUYpBbvkRw1o3T1yq6+uH/n47kJ4VwWmzF9tM25tZwKs+O4fOdyvvRbgv/QNNCGxsb6R6gKK+EziFZSXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
