<!DOCTYPE html>
<html lang="en">
<head>
  <title>Perolehan Poin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  {% include 'navbarUmpire.html' %}
<div class="container">
  <h2 class="text-center my-4">PEROLEHAN POIN</h2>         
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <tr>
            <th colspan="1"></th>
            <th colspan="6">Jenis Babak</th>
        </tr>
            <th rowspan="2">Kategori Super Series</th>
            <th>Juara 1</th>
            <th>Juara 2</th>
            <th>Semifinal</th>
            <th>Perempat Final</th>
            <th>R16</th>
            <th>R32</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>S1000</td>
        <td>2000</td>
        <td>1200</td>
        <td>720</td>
        <td>360</td>
        <td>180</td>
        <td>90</td>
      </tr>
      <tr>
        <td>S750</td>
        <td>2000</td>
        <td>1200</td>
        <td>720</td>
        <td>360</td>
        <td>180</td>
        <td>90</td>
      </tr>
      <tr>
        <td>S500</td>
        <td>3000</td>
        <td>1800</td>
        <td>1080</td>
        <td>540</td>
        <td>270</td>
        <td>135</td>
      </tr>
      <tr>
        <td>S300</td>
        <td>3000</td>
        <td>1800</td>
        <td>1080</td>
        <td>540</td>
        <td>270</td>
        <td>135</td>
      </tr>
      <tr>
        <td>S100</td>
        <td>3000</td>
        <td>1800</td>
        <td>1080</td>
        <td>540</td>
        <td>270</td>
        <td>135</td>
      </tr>
    </tbody>
  </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
