<!DOCTYPE html>
<html>
<head>
	<title>List Page with Bootstrap</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<style>
		body {
			background-color: #f8f9fa;
		}
	</style>
</head>
<body>
	{% include 'navbarUmpire.html' %}
	<div class="container mt-3">
		<h2 class="text-center mb-4">PERTANDINGAN SEMIFINAL</h2>
		<h4 class="text-center mb-4">[00:00]</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Tim 1</th>
					<th>Tim 2</th>
                    <th>Skor Tim 1</th>
					<th>Skor Tim 2</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Tim A</td>
					<td>Tim D</td>
                    <td>1</td>
					<td>0</td>
				</tr>
                <tr>
					<td>Tim F</td>
					<td>Tim G</td>
                    <td>1</td>
					<td>2</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<button type="button" class="btn btn-primary">Next</button>
		</div>
	</div>
</body>
</html>
