<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Atlet</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Tes Kualifikasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Daftar Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Enrolled Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Daftar Sponsor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  