<!DOCTYPE html>
<html>
<head>
	<title>Daftar Sponsor</title>
	<!-- Link to Bootstrap CSS file -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Link to Bootstrap JS file -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container mt-3">
		<h2 class="text-center mb-4">DAFTAR SPONSOR</h2>
		<form>
			<div class="form-group">
				<label for="nama-sponsor">Nama Sponsor:</label>
				<select class="form-control" id="nama-sponsor">
					<option value="">Pilih Nama Sponsor</option>
					<option value="sponsor-1">Sponsor 1</option>
					<option value="sponsor-2">Sponsor 2</option>
					<option value="sponsor-3">Sponsor 3</option>
				</select>
			</div>
			<div class="form-group">
				<label for="start-date">Start Date:</label>
				<input type="date" class="form-control" id="start-date">
			</div>
			<div class="form-group">
				<label for="finish-date">Finish Date:</label>
				<input type="date" class="form-control" id="finish-date">
			</div>
			 <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

</body>
</html>
